<footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  © 
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="#" target="_blank" class="footer-link fw-bolder">Hardik Soni</a>
                </div>
              </div>
            </footer>
            <div class="content-backdrop fade"></div>
          </div>
          </div>
        </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script>
  function searchTable() {
    // 1. Search Box (Header me hai)
    let input = document.getElementById("searchInput");
    
    // Agar search box hi nahi mila (kisi aur page par), to wapis jao
    if (!input) return; 
    
    let filter = input.value.toUpperCase();

    // 2. Table dhundo (Chahe Admin ki ho ya User ki)
    let table = document.getElementById("myTable");
    
    // Agar page par table nahi hai (Jaise Dashboard par), to code yahi rok do
    if (!table) return; 

    let tr = table.getElementsByTagName("tr");

    // 3. Loop chalao
    for (let i = 0; i < tr.length; i++) {
      
      // Column check karo (Assuming Name is at index 1)
      let tdName = tr[i].getElementsByTagName("td")[1];
      
      if (tdName) {
        let txtValue = tdName.textContent || tdName.innerText;
        
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";      // Dikhao
        } else {
          tr[i].style.display = "none";  // Chhupa do
        }
      }       
    }
  }
</script>

    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    
    <script src="/assets/vendor/js/menu.js"></script>
    <script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <script src="/assets/js/main.js"></script>

    <script src="/assets/js/dashboards-analytics.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>